                                     <h1>Welcome To My Rails App</h1>
				<p>This is my first ROR application.This has been great learnigs so far.I love to talk about social media,blogging, tech startups.You can find me on social networking platforms mostly on<a href="https://twitter.com/#!/ksushil7">@ksushil7</a> and can listen me at<a href="www.technaviagte.blogspot.com">Tech Navigator</a> and <a href="http://www.slidingdrop.blogspot.com">One..Sky..</a> <br />
      Keep Visiting.......!!! </p>
